# CS838 Project Stage3

Yuying Chen
Maria Kamenetsky

In [1]:
#import modules
import csv
import py_entitymatching as em
import pandas as pd
import numpy as np
import time
import sys

Our full pipeline of training and testing the ML matcher used below was completed in Stage 3 (which can be found in the respective folder). Results of that process were that the logistic regression performed the best. We Follo

## Read input tables

Since the original two movie dataset that we selected don't have too many overlaps, we changed one of them to another movie dataset. The first dataset is from kaggle.com. The second dataset is from movielens.org.

We added an id column for both datasets.

In [2]:
A = em.read_csv_metadata('../../stage3/DATA/movie1_stage3.csv', key='id',encoding='mac_roman')
B = em.read_csv_metadata('../../stage3/DATA/movie2_stage3.csv', key='movieId',encoding='mac_roman')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [3]:
print('Number of tuples in A: ' + str(len(A)))
print('Number of tuples in B: ' + str(len(B)))
print('Number of tuples in A x B: ' + str(len(A)*len(B)))

Number of tuples in A: 5043
Number of tuples in B: 27278
Number of tuples in A x B: 137562954

In [4]:
A.head()

,id,title,genres,director_name,plot_keywords,actor_3_facebook_likes,cast_total_facebook_likes,content_rating,budget,duration,...,actor_2_facebook_likes,imdb_score,movie_facebook_likes,language,actor_1_facebook_likes,facenumber_in_poster,actor_1_name,num_user_for_reviews,aspect_ratio,num_critic_for_reviews
0,1,avatar,action|adventure|fantasy|sci-fi,james cameron,avatar|future|marine|native|paraplegic,855,4834,pg-13,237000000,178,...,936,7.9,33000,english,1000,0,cch pounder,3054,1.78,723
1,2,pirates of the caribbean: at world's end,action|adventure|fantasy,gore verbinski,goddess|marriage ceremony|marriage proposal|pirate|singapore,1000,48350,pg-13,300000000,169,...,5000,7.1,0,english,40000,0,johnny depp,1238,2.35,302
2,3,spectre,action|adventure|thriller,sam mendes,bomb|espionage|sequel|spy|terrorist,161,11700,pg-13,245000000,148,...,393,6.8,85000,english,11000,1,christoph waltz,994,2.35,602
3,4,the dark knight rises,action|thriller,christopher nolan,deception|imprisonment|lawlessness|police officer|terrorist plot,23000,106759,pg-13,250000000,164,...,23000,8.5,164000,english,27000,0,tom hardy,2701,2.35,813
4,5,star wars: episode vii - the force awakens,documentary,doug walker,.,.,143,.,.,.,...,12,7.1,0,.,131,0,doug walker,.,.,.

In [5]:
A.columns.values

array(['id', 'title', 'genres', 'director_name', 'plot_keywords',
       'actor_3_facebook_likes', 'cast_total_facebook_likes',
       'content_rating', 'budget', 'duration', 'country', 'color', 'year',
       'num_voted_users', 'director_facebook_likes', 'gross',
       'actor_2_name', 'actor_3_name', 'actor_2_facebook_likes',
       'imdb_score', 'movie_facebook_likes', 'language',
       'actor_1_facebook_likes', 'facenumber_in_poster', 'actor_1_name',
       'num_user_for_reviews', 'aspect_ratio', 'num_critic_for_reviews'], dtype=object)

In [ ]:
B.head()

In [ ]:
B.columns.values

In [6]:
em.get_key(A), em.get_key(B)

('id', 'movieId')

Since the tables are very large let's downsample:

## Block Tables To Get Candidate Set

Block on attribute 'year' using an overlap blocker since the same movie must have the same year. The output attributes of table A is limited to id, title, year and genres to match the information provided by table B.

In [7]:
# Create overlap blocker
ob = em.OverlapBlocker()

start = time.clock()
C = ob.block_tables(A, B, 'year', 'year',
                   l_output_attrs=['id', 'title', 'year', 'genres'],
                   r_output_attrs=['movieId', 'title','year', 'genres'],
                   overlap_size=1, show_progress=True)

elapsed = (time.clock() - start)
print("Overlap blocking step: ", elapsed)

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:17

Overlap blocking step:  22.88170370300954

In [8]:
C2 = C.head(1000)
C2.head()

,_id,ltable_id,rtable_movieId,ltable_title,ltable_year,ltable_genres,rtable_title,rtable_year,rtable_genres
0,0,1026,1,jade,1995,crime|drama|thriller,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
1,1,2053,1,bad boys,1995,action|comedy|crime|drama|thriller,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
2,2,2822,1,clueless,1995,comedy|romance,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
3,3,4662,1,welcome to the dollhouse,1995,comedy|drama,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
4,4,3593,1,the usual suspects,1995,crime|drama|mystery|thriller,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy

In [9]:
em.to_csv_metadata(C2, '../DATA/c2.csv')

File already exists at ../DATA/c2.csv; Overwriting it
Metadata file already exists at ../DATA/c2.metadata. Overwriting it

True

In [10]:
C = em.read_csv_metadata('../DATA/c2.csv',
                        key='_id',
                        ltable=A, rtable=B,encoding='mac_roman')

In [11]:
len(C)

1000

## Match tuple pairs in candidate set

### Import Pre-Determined Golden Data

We randomly sampled 500 tuple pairs for labeling. There are 201 matches and 299 mismatches. **gold.csv** is our gold dataset of perfect matches that we have determined prior to this.

In [12]:
G = em.read_csv_metadata('../../stage3/DATA/gold.csv', 
                         key='_id',
                            ltable=A, rtable=B, 
                        fk_ltable='ltable_id', fk_rtable='rtable_movieId',
                         encoding='mac_roman')
len(G)

Metadata file is not present in the given path; proceeding to read the csv file.

500

In [13]:
G.head(10)

,_id,ltable_id,rtable_movieId,ltable_movie_title,ltable_title_year,ltable_genres,rtable_title,rtable_year,rtable_genres,label
0,2433,894,64716,seven pounds,2008,drama|romance,Seven Pounds,2008,Drama,1
1,4545,2842,4015,"dude, where's my car?",2000,comedy|mystery,"Dude, Where's My Car?",2000,Comedy|Sci-Fi,1
2,6907,3697,104908,insidious: chapter 2,2013,fantasy|horror|thriller,Insidious: Chapter 2,2013,Horror|Thriller,1
3,24168,4384,2891,"happy, texas",1999,comedy|crime|romance,"Happy, Texas",1999,Comedy,1
4,31352,1844,7980,a bridge too far,1977,drama|history|war,"Bridge Too Far, A",1977,Action|Drama|War,1
5,35987,874,2676,instinct,1999,drama|thriller,Instinct,1999,Drama|Thriller,1
6,37526,2582,1599,steel,1997,action|crime|sci-fi,Steel,1997,Action,1
7,50124,1212,1408,the last of the mohicans,1992,action|adventure|drama|romance|war,"Last of the Mohicans, The",1992,Action|Romance|War|Western,1
8,57296,2987,66200,two lovers,2008,drama|romance,Two Lovers,2008,Drama|Romance,1
9,64913,2952,2841,stir of echoes,1999,horror|mystery|thriller,Stir of Echoes,1999,Horror|Mystery|Thriller,1

We note here, that based on what we saw in the creation of the golden data, we establish a *correct* match as a perfect match on year and title, where title is lower case. For example, we would not consider tuple *(insidious, 2013)* and tuple *(insidious: chapter 2, 2013)* to be a match. We do so because we cannot reliably say that the sequal refers to the original.

### Splitting Labeled Data into Development and Evaluation Set

### Selecting Best Learning-Based Matcher

In [14]:
# Select ML matcher from last time

lg = em.LogRegMatcher(name='LogReg', random_state=0)

In [15]:
feature_table = em.get_features_for_matching(A,B)

In [16]:
feature_table.feature_name

0        title_title_jac_qgm_3_qgm_3
1    title_title_cos_dlm_dc0_dlm_dc0
2    title_title_jac_dlm_dc0_dlm_dc0
3                    title_title_mel
4               title_title_lev_dist
5                title_title_lev_sim
6                    title_title_nmw
7                     title_title_sw
Name: feature_name, dtype: object

In [17]:
G.head()

,_id,ltable_id,rtable_movieId,ltable_movie_title,ltable_title_year,ltable_genres,rtable_title,rtable_year,rtable_genres,label
0,2433,894,64716,seven pounds,2008,drama|romance,Seven Pounds,2008,Drama,1
1,4545,2842,4015,"dude, where's my car?",2000,comedy|mystery,"Dude, Where's My Car?",2000,Comedy|Sci-Fi,1
2,6907,3697,104908,insidious: chapter 2,2013,fantasy|horror|thriller,Insidious: Chapter 2,2013,Horror|Thriller,1
3,24168,4384,2891,"happy, texas",1999,comedy|crime|romance,"Happy, Texas",1999,Comedy,1
4,31352,1844,7980,a bridge too far,1977,drama|history|war,"Bridge Too Far, A",1977,Action|Drama|War,1

In [18]:
# Select the attrs. to be included in the feature vector table
attrs_from_table = ['ltable_movie_title', 'ltable_title_year',
                    'rtable_title', 'rtable_year']

#convert to feature vectors
H = em.extract_feature_vecs(G,
                           feature_table=feature_table,
                           attrs_after='label',
                           show_progress=True)

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:02

In [19]:
H.head()

,_id,ltable_id,rtable_movieId,title_title_jac_qgm_3_qgm_3,title_title_cos_dlm_dc0_dlm_dc0,title_title_jac_dlm_dc0_dlm_dc0,title_title_mel,title_title_lev_dist,title_title_lev_sim,title_title_nmw,title_title_sw,label
0,2433,894,64716,0.400000,0.000000,0.0,0.888889,2,0.833333,10.0,10.0,1
1,4545,2842,4015,0.314286,0.000000,0.0,0.853408,4,0.809524,17.0,17.0,1
2,6907,3697,104908,0.571429,0.333333,0.2,0.887037,2,0.900000,18.0,18.0,1
3,24168,4384,2891,0.400000,0.000000,0.0,0.888889,2,0.833333,10.0,10.0,1
4,31352,1844,7980,0.156250,0.000000,0.0,0.665850,8,0.529412,6.0,11.0,1

### Selecting best ML Matcher

Now we want to select the best matcher. We use k-fold cross validation. We will use 10 folds here and use precision, recall, and F1 to select the best matcher.

In [21]:
# Instantiate the RF Matcher
lg = em.LogRegMatcher()

In [24]:
# Get the attributes to be projected while training
attrs_to_be_excluded = []
attrs_to_be_excluded.extend(['_id', 'ltable_id', 'rtable_movieId', 'label'])
attrs_to_be_excluded

['_id', 'ltable_id', 'rtable_movieId', 'label']

In [25]:
# Train using feature vectors from the labeled data.
lg.fit(table=H, exclude_attrs=attrs_to_be_excluded, target_attr='label')

### Predict matches in the candidate set using trained matcher

In [26]:
C.head()

,_id,ltable_id,rtable_movieId,ltable_title,ltable_year,ltable_genres,rtable_title,rtable_year,rtable_genres
0,0,1026,1,jade,1995,crime|drama|thriller,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
1,1,2053,1,bad boys,1995,action|comedy|crime|drama|thriller,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
2,2,2822,1,clueless,1995,comedy|romance,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
3,3,4662,1,welcome to the dollhouse,1995,comedy|drama,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy
4,4,3593,1,the usual suspects,1995,crime|drama|mystery|thriller,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy

In [27]:
# Select the attrs. to be included in the feature vector table
attrs_from_table = ['ltable_title', 'ltable_year',
                    'rtable_title', 'rtable_year']
# Convert the cancidate set to feature vectors using the feature table
L = em.extract_feature_vecs(C, feature_table=feature_table,
                             attrs_before= attrs_from_table,
                             show_progress=True)

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:03

Predict matches in the candidate set using trained matcher and feature vectors:

In [28]:
L.head()

,_id,ltable_id,rtable_movieId,ltable_title,ltable_year,rtable_title,rtable_year,title_title_jac_qgm_3_qgm_3,title_title_cos_dlm_dc0_dlm_dc0,title_title_jac_dlm_dc0_dlm_dc0,title_title_mel,title_title_lev_dist,title_title_lev_sim,title_title_nmw,title_title_sw
0,0,1026,1,jade,1995,Toy Story,1995,0.0,0.0,0.0,0.000000,9,0.000000,-5.0,0.0
1,1,2053,1,bad boys,1995,Toy Story,1995,0.0,0.0,0.0,0.569444,7,0.222222,1.0,2.0
2,2,2822,1,clueless,1995,Toy Story,1995,0.0,0.0,0.0,0.000000,9,0.000000,-1.0,0.0
3,3,4662,1,welcome to the dollhouse,1995,Toy Story,1995,0.0,0.0,0.0,0.537037,20,0.166667,-11.0,3.0
4,4,3593,1,the usual suspects,1995,Toy Story,1995,0.0,0.0,0.0,0.277778,17,0.055556,-8.0,1.0

In [29]:
# Get the attributes to be excluded while predicting 
attrs_to_be_excluded = []
attrs_to_be_excluded.extend(['_id', 'ltable_id', 'rtable_movieId'])
attrs_to_be_excluded.extend(attrs_from_table)
attrs_to_be_excluded

['_id',
 'ltable_id',
 'rtable_movieId',
 'ltable_title',
 'ltable_year',
 'rtable_title',
 'rtable_year']

In [30]:
# Predict the matches
predictions = lg.predict(table=L, exclude_attrs=attrs_to_be_excluded,                          
              append=True, target_attr='predicted', inplace=False)

In [31]:
predictions.head()

,_id,ltable_id,rtable_movieId,ltable_title,ltable_year,rtable_title,rtable_year,title_title_jac_qgm_3_qgm_3,title_title_cos_dlm_dc0_dlm_dc0,title_title_jac_dlm_dc0_dlm_dc0,title_title_mel,title_title_lev_dist,title_title_lev_sim,title_title_nmw,title_title_sw,predicted
0,0,1026,1,jade,1995,Toy Story,1995,0.0,0.0,0.0,0.000000,9,0.000000,-5.0,0.0,0
1,1,2053,1,bad boys,1995,Toy Story,1995,0.0,0.0,0.0,0.569444,7,0.222222,1.0,2.0,0
2,2,2822,1,clueless,1995,Toy Story,1995,0.0,0.0,0.0,0.000000,9,0.000000,-1.0,0.0,0
3,3,4662,1,welcome to the dollhouse,1995,Toy Story,1995,0.0,0.0,0.0,0.537037,20,0.166667,-11.0,3.0,0
4,4,3593,1,the usual suspects,1995,Toy Story,1995,0.0,0.0,0.0,0.277778,17,0.055556,-8.0,1.0,0

In [33]:
# Get the attributes to be projected out
attrs_proj = []
attrs_proj.extend(['_id', 'ltable_id', 'rtable_movieId'])
attrs_proj.extend(attrs_from_table)
attrs_proj.append('predicted')

# Project the attributes
predictions = predictions[attrs_proj]

In [36]:
predictions.tail()

,_id,ltable_id,rtable_movieId,ltable_title,ltable_year,rtable_title,rtable_year,predicted
995,995,1561,15,the quick and the dead,1995,Cutthroat Island,1995,0
996,996,3740,15,halloween: the curse of michael myers,1995,Cutthroat Island,1995,0
997,997,2210,15,copycat,1995,Cutthroat Island,1995,0
998,998,2809,15,jefferson in paris,1995,Cutthroat Island,1995,0
999,999,1574,15,mr. holland's opus,1995,Cutthroat Island,1995,0

Next, we will take only where predicted == 1 and create that to be a separate csv:

In [41]:
predictpos = predictions.loc[predictions['predicted']==1]
predictpos.head(10)

,_id,ltable_id,rtable_movieId,ltable_title,ltable_year,rtable_title,rtable_year,predicted
31,31,1589,1,toy story,1995,Toy Story,1995,1
414,414,1292,6,kiss of death,1995,Heat,1995,1
432,432,3988,7,friday,1995,Sabrina,1995,1
673,673,718,10,goldeneye,1995,GoldenEye,1995,1
734,734,704,11,the american president,1995,"American President, The",1995,1
825,825,3039,12,dead man walking,1995,Dracula: Dead and Loving It,1995,1
963,963,1126,14,nixon,1995,Nixon,1995,1

In [39]:
predictpos.to_csv('pospredictions.csv', sep=',')